{% extends 'books/layout.html' %}

{% block title %}
    {% if view.kwargs.name %}
        Books List of {{ view.kwargs.name }}
    {% else %}
        Books List
    {% endif %}
{% endblock  %}

{% block content %}
    <section class="py-10">
        <div class="flex flex-col items-center mb-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-3 tracking-tight">
                {% if view.kwargs.name %}
                    Books List of <span class="font-semibold text-blue-700">{{ view.kwargs.name }}</span>
                {% else %}
                    Books List
                {% endif %}
            </h1>
            <p class="text-lg text-gray-500">A curated list of our books collection</p>
        </div>

        <div class="grid grid-cols-4 gap-4 mt-10">

            {% for book in book_list %}
            <a href="{% url 'book_detail' book.id %}" class="justify-self-center text-center my-4" target="_blank">

                <div class="flex justify-center">
                    <img src="{{ book.thumbnail_url}}" alt="{{ book.title }}" width="100">
                </div>

            </a>
            <caption class="text-lg text-gray-700">{{ book.title }}</caption>
            {% endfor %}

        </div>
    </section>
{% endblock  %}